<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765772066327-fbqilm3bl28s47o5eq7r95eat8jsit11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765772066327-fbqilm3bl28s47o5eq7r95eat8jsit11</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>765772066327-096n11k6h67a6j5ti0hgeovoos7mhvc1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUqxUDQvG4sO9Ux3VD4fb-kJmdKWW3tsA</string>
	<key>GCM_SENDER_ID</key>
	<string>765772066327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupchatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-64335</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-64335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765772066327:ios:1c0960c39d58d07aa9f652</string>
</dict>
</plist>